---
import { render } from "astro:content";
import BaseLayout from "@/layouts/base.astro";
import ContentLayout from "@/layouts/content.astro";
import ArticleHeader from "./_components/article-header.astro";
import ArticleLink from "./_components/article-link.astro";
import ArticleSidebar from "./_components/article-sidebar.astro";

import { articlesHandler } from "@/lib/handlers/articles";

export const getStaticPaths = async () => {
  const articles = articlesHandler.allArticles();

  return articles.map((article) => ({
    params: { id: article.id },
    props: { article },
  }));
};
const { article } = Astro.props;

const { Content, headings, remarkPluginFrontmatter } = await render(article);
---

<BaseLayout entry={article}>
  <ArticleHeader
    article={article}
    readingTime={remarkPluginFrontmatter.minutesRead}
  />
  
  <div class="container max-w-5xl pb-12">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
      <div class="lg:col-span-8">
        <ContentLayout>
          <Content />
          <ArticleLink article={article} />
        </ContentLayout>
      </div>
      
      <div class="lg:col-span-4">
        <ArticleSidebar article={article} content={Content} headings={headings} />
      </div>
    </div>
  </div>
</BaseLayout>